$--colors-black-darker: #171717;
$--colors-white-darker: #e8eaed;
$--colors-grey-brighter: #9aa0a6;
$--colors-grey-black: #303134;
$--colors-grey-darker: rgb(68, 68, 68);
$--colors-grey: #595c60;
$--colors-black: #202124;
$--colors-white: rgb(255,255,255);
* {
    box-sizing: border-box;
}
body {
    font-family: arial, sans-serif;
    margin: 0px;
    background-color: $--colors-black;
    -webkit-font-smoothing: antialised;
    height: 100%;
    font-size: 14px;
}
div {
    display: block;
}
img {
    height: 53px;
}
.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header {
    display: flex;
    align-items: center;
    padding: 6px;
}
.topgroup {
    font-size: 7px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 19px;
}
.textgroup {
    color: $--colors-white;
    width: 13%;
}
.gml {
    cursor: pointer;
    padding-left: 3px;
}
.imgs {
    cursor: pointer;
    padding-left: 9px;
}
.topicons {
    display: inline-block;
    width: 10%;
}
.square {
    padding: 5px;
    display: inline-block;
    padding-right: 8px;
    height: 20px;
}
.squareicon {
    color: $--colors-white;
    fill: currentColor;
    cursor: pointer;
    height: 14px;
}
.topicon {
    padding: 4px;
    display: inline-block;
}
.wicon {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    vertical-align: bottom;
}
.middlelayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.centraltitle {
    max-height: 92px;
    position: relative;
    margin-top: 21%;
}
.stackedlayout {
    min-height: 88px;
    padding-top: 11px;
    margin-left: 115px;
    margin-right: 115px;
}
.searchbar {
    display: flex;
    border: 1px solid $--colors-grey-darker;
    height: 27px;
    border-radius: 30px;
}
.search {
    display: flex;
    width: 30px;
    padding-left: 8px;
    padding-top: 6px;
}
.searchicon {
    color: $--colors-grey-brighter;
    fill: currentColor; 
}
.type{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.keymic {
    display: flex;
    align-items: center;
}
.keyboard {
    height: 19px;
    width: 25px;
}
.keyb {
    height: 6.5px;
    width: 11.5px;
    cursor: pointer;
}
.microphone {
    width: 20px;
    height: 14.5px;
}
.mic {
    height: 11.5px;
    cursor: pointer;
}
.buttons {
    display: block;
    padding-top: 18px;
    height: 50px;
    text-align: -webkit-center;
}
.button1 {
    background-color: $--colors-grey-black;
    font-size: 8px;
    color: $--colors-white-darker;
    border-radius: 2px;
    border: 6px solid $--colors-grey-black;
    margin: 11px 4px;
    padding: 0 3px;
    cursor: pointer;
}
.button2 {
    background-color: $--colors-grey-black;
    font-size: 8px;
    color: $--colors-white-darker;
    border-radius: 2px;
    border: 6px solid $--colors-grey-black;
    margin: 11px 4px;
    padding: 0 4px;
    cursor: pointer;
}
//.contentblock {
    
    //height
//}
.footer {
    background-color: $--colors-black-darker;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.firstb {
    color: $--colors-grey-brighter;
    font-size: 8.5px;
    padding: 9px 17px;
    border-bottom: 1px solid $--colors-black;
}
.lastall {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
@media only screen and (max-width:1200px) {
    .lastall {
        justify-content: space-evenly;
    }
}
.last {
    display: flex;
    justify-content: center;
}
.text {
    font-size: 8px;
    color: $--colors-grey-brighter;
    padding: 8px;
    padding-bottom: 10px;
}
.lastright {
   display: flex;
   justify-items: center;
}