$--colors-grey-brighter: #9aa0a6;
$--colors-grey-darker: rgb(68, 68, 68);
$--colors-grey: #595c60;
$--colors-black: #202124;
$--colors-white: rgb(255,255,255);
* {
    box-sizing: border-box;
}
body {
    font-family: arial, sans-serif;
    margin: 0px;
    background-color: $--colors-black;
    -webkit-font-smoothing: antialised;
    height: 100%;
    font-size: 14px;
}
div {
    display: block;
}
img {
    height: 53px;
}
.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header {
    display: flex;
    align-items: center;
    padding: 6px;
}
.topgroup {
    font-size: 7px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 19px;
}
.textgroup {
    color: $--colors-white;
    width: 13%;
}
.gml {
    cursor: pointer;
    padding-left: 3px;
}
.imgs {
    cursor: pointer;
    padding-left: 9px;
}
.topicons {
    display: inline-block;
    width: 10%;
}
.square {
    padding: 5px;
    display: inline-block;
    padding-right: 8px;
    height: 20px;
}
.squareicon {
    color: $--colors-white;
    fill: currentColor;
    cursor: pointer;
    height: 14px;
}
.topicon {
    padding: 4px;
    display: inline-block;
}
.wicon {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    vertical-align: bottom;
}
.middlelayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.centraltitle {
    max-height: 92px;
    position: relative;
    margin-top: 21%;
}
//.gglogo {
    
.stackedlayout {
    min-height: 88px;
    padding-top: 11px;
    margin-left: 115px;
    margin-right: 115px;
}
.searchbar {
    display: flex;
    border: 1px solid $--colors-grey-darker;
    height: 27px;
    border-radius: 30px;
}
.search {
    display: flex;
    width: 30px;
    padding-left: 8px;
    padding-top: 6px;
}
.searchicon {
    color: $--colors-grey-brighter;
    fill: currentColor; 
}
.type{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.keymic {

}
.keyboard {

}
.microphone {

}
.buttons {

}
.button {

}
.button2 {

}