* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  margin: 0px;
  background-color: #202124;
  -webkit-font-smoothing: antialised;
  height: 100%;
  font-size: 14px;
}

div {
  display: block;
}

img {
  height: 53px;
}

@media (max-width: 20em) {
  img {
    height: 30px;
  }
}

@media (min-width: 48em) {
  img {
    height: 73px;
  }
}

.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px;
}

@media (max-width: 20em) {
  .header {
    padding: 1px;
  }
}

@media (min-width: 48em) {
  .header {
    padding: 7px;
  }
}

.topgroup {
  font-size: 7px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 19px;
}

@media (min-width: 48em) {
  .topgroup {
    height: 35px;
  }
}

.textgroup {
  color: white;
  width: 13%;
}

@media (max-width: 20em) {
  .textgroup {
    width: auto;
    font-size: 4px;
    height: 5px;
  }
}

@media (min-width: 48em) {
  .textgroup {
    font-size: 10px;
    padding-left: 10px;
  }
}

.gml {
  cursor: pointer;
  padding-left: 3;
}

.imgs {
  cursor: pointer;
  padding-left: 9px;
}

@media (max-width: 20em) {
  .imgs {
    padding-right: 5px;
    padding-left: 4px;
  }
}

.topicons {
  display: inline-block;
  width: 10%;
}

@media (max-width: 20em) {
  .topicons {
    width: auto;
  }
}

.square {
  padding: 5px;
  display: inline-block;
  padding-right: 8px;
  height: 20px;
}

@media (max-width: 20em) {
  .square {
    height: 20px;
    width: 10px;
    padding-right: 9px;
  }
}

@media (min-width: 48em) {
  .square {
    height: 30px;
    width: 35px;
    padding: 6px;
  }
}

.squareicon {
  color: white;
  fill: currentColor;
  cursor: pointer;
  height: 14px;
}

@media (max-width: 20em) {
  .squareicon {
    width: 8px;
    padding-top: 4px;
  }
}

@media (min-width: 48em) {
  .squareicon {
    width: 22px;
    height: 22px;
    padding-bottom: 3px;
  }
}

.topicon {
  padding: 4px;
  display: inline-block;
}

@media (max-width: 20em) {
  .topicon {
    height: 25px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-bottom: 1px;
  }
}

@media (min-width: 48em) {
  .topicon {
    padding: 6px;
  }
}

.wicon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  vertical-align: bottom;
}

@media (max-width: 20em) {
  .wicon {
    width: 10.3px;
    height: 10.3px;
  }
}

@media (min-width: 48em) {
  .wicon {
    height: 25px;
    width: 25px;
  }
}

.middlelayout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.centraltitle {
  max-height: 92px;
  position: relative;
  margin-top: 21%;
}

@media (max-width: 20em) {
  .centraltitle {
    margin-top: 20%;
  }
}

@media (min-width: 48em) {
  .centraltitle {
    margin-top: 6%;
  }
}

.stackedlayout {
  min-height: 88px;
  padding-top: 11px;
  margin-left: 115px;
  margin-right: 115px;
}

@media (max-width: 20em) {
  .stackedlayout {
    margin-left: 4rem;
    margin-right: 4rem;
    padding-top: 5px;
  }
}

@media (min-width: 48em) {
  .stackedlayout {
    margin-left: 9.70rem;
    margin-right: 9.70rem;
    padding-top: 18px;
  }
}

.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #444444;
  height: 27px;
  border-radius: 30px;
}

@media (max-width: 20em) {
  .searchbar {
    height: 0.938rem;
    border: 1px solid #303134;
  }
}

@media (min-width: 48em) {
  .searchbar {
    height: 2.3rem;
    border: 1px solid #595c60;
  }
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  padding-left: 8px;
  padding-top: 6px;
}

@media (max-width: 20em) {
  .search {
    padding-top: 3px;
    padding-left: 4px;
  }
}

@media (min-width: 48em) {
  .search {
    padding-top: 8px;
    padding-left: 11px;
    width: 60px;
  }
}

.searchicon {
  color: #9aa0a6;
  fill: currentColor;
}

@media (max-width: 20em) {
  .searchicon {
    height: 11px;
  }
}

@media (min-width: 48em) {
  .searchicon {
    height: 27px;
  }
}

.type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.keymic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 20em) {
  .keymic {
    width: 1.60rem;
    height: 0.520rem;
  }
}

@media (min-width: 48em) {
  .keymic {
    width: 60px;
  }
}

.keyboard {
  height: 19px;
  width: 25px;
}

@media (max-width: 20em) {
  .keyboard {
    height: 17px;
  }
}

@media (min-width: 48em) {
  .keyboard {
    padding-right: 33px;
    padding-top: 2px;
  }
}

.keyb {
  height: 6.5px;
  width: 11.5px;
  cursor: pointer;
}

@media (max-width: 20em) {
  .keyb {
    height: 4px;
    width: 6px;
  }
}

@media (min-width: 48em) {
  .keyb {
    height: 9px;
    width: 15px;
  }
}

.microphone {
  width: 20px;
  height: 14.5px;
}

.mic {
  height: 11.5px;
  cursor: pointer;
}

@media (max-width: 20em) {
  .mic {
    height: 6.3px;
    width: 4.5px;
  }
}

@media (min-width: 48em) {
  .mic {
    height: 15px;
  }
}

.buttons {
  display: block;
  padding-top: 18px;
  height: 50px;
  text-align: -webkit-center;
}

@media (max-width: 20em) {
  .buttons {
    padding-top: 4px;
  }
}

@media (min-width: 48em) {
  .buttons {
    padding-top: 29px;
  }
}

.button1 {
  background-color: #303134;
  font-size: 8px;
  color: #e8eaed;
  border-radius: 2px;
  border: 6px solid #303134;
  margin: 11px 4px;
  padding: 0 3px;
  cursor: pointer;
}

@media (max-width: 20em) {
  .button1 {
    border: 3px solid #303134;
    margin-right: 1px;
    font-size: 4.5px;
    padding: 0 2px;
  }
}

@media (min-width: 48em) {
  .button1 {
    font-size: 11px;
    border: 8px solid #303134;
  }
}

.button2 {
  background-color: #303134;
  font-size: 8px;
  color: #e8eaed;
  border-radius: 2px;
  border: 6px solid #303134;
  margin: 11px 4px;
  padding: 0 4px;
  cursor: pointer;
}

@media (max-width: 20em) {
  .button2 {
    border: 3px solid #303134;
    font-size: 4.5px;
    padding: 0 2px;
  }
}

@media (min-width: 48em) {
  .button2 {
    font-size: 11px;
    border: 8px solid #303134;
  }
}

.footer {
  background-color: #171717;
  bottom: 0;
  width: 100%;
  position: fixed;
  display: -ms-grid;
  display: grid;
}

.firstb {
  color: #9aa0a6;
  background-color: #171717;
  font-size: 8.5px;
  padding: 9px 17px;
  border-bottom: 1px solid #202124;
}

@media (max-width: 20em) {
  .firstb {
    padding: 4px 10px;
    font-size: 4.8px;
  }
}

@media (min-width: 48em) {
  .firstb {
    font-size: 13px;
    padding: 10px 30px;
    border-bottom: 1px solid #595c60;
  }
}

.lastall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  background-color: #171717;
}

@media (max-width: 20em) {
  .lastall {
    padding: 0 15px;
    height: 1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .lastall {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text {
  font-size: 8px;
  color: #9aa0a6;
  padding: 8px;
  padding-bottom: 10px;
}

@media (max-width: 20em) {
  .text {
    font-size: 4.5px;
    padding: 6px;
  }
}

@media (min-width: 48em) {
  .text {
    font-size: 11px;
    padding: 10px;
  }
}

.lastright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}
/*# sourceMappingURL=style.css.map */